<ion-header>
  <ion-toolbar>
    <ion-title>
      User Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (submit)="ajouterMenu()">
  <ion-list>
    <ion-list-header>
      <ion-label>
        Plat du jour
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Plats</ion-label>
      <ion-select multiple="true" cancelText="Cancel" okText="Up!" [(ngModel)]="resto.dailies" name="dailies">
        <ion-select-option  *ngFor=" let plt of plat" value="{{plt.id}}">{{plt.nom}}</ion-select-option>        
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Restaurants</ion-label>
      <ion-select [(ngModel)]="resto.id" name="id">
        <ion-select-option *ngFor=" let restaurant of restaurants" value="{{restaurant.id}}">{{restaurant.nom}}</ion-select-option>      
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button color="success" type="submit" expand="block" shape="round"> Enregistrer </ion-button>  
</form>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button> 
    <ion-fab-list side="top">
      <ion-fab-button color="danger" (click)="logout()"  ><ion-icon name="log-out"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <!-- <ion-fab-list side="end">
      <ion-fab-button color="secondary" routerLink="/tabs/plat/ajouter-plat"><ion-icon name="create"></ion-icon></ion-fab-button>
    </ion-fab-list> -->
  </ion-fab>
</ion-content>
