<ion-header>
  <ion-toolbar>
    <ion-title>Page de connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (submit)="login(loginForm.value)">
    
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input required formControlName="identifier"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button color="success" type="submit" expand="block" shape="round"> Login </ion-button>
    </form>
</ion-content>

<ion-footer style="background-color: black;">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button style="width: 110px;" color="secondary" expand="block" shape="round" fill="outline" [ngStyle]="{'width': 20}" routerLink="/register"> Signin </ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="width: 110px;" color="danger" expand="block" shape="round" fill="outline" [ngStyle]="{'width': 10}"  (click)="sendCode(loginForm.value)" routerLink="/password">Init Pass </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
