<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
     Mes Restaurants
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <agm-map  [latitude]="lat" [longitude]="lng" [zoom]="12">
    <agm-marker
      [latitude]="lat"
      [longitude]="lng"
      (markerClick)="onMarkerClick()"
    ></agm-marker>
    <agm-marker *ngFor=" let coords of resto"
    [latitude]="coords.Latitude"
    [longitude]="coords.Longitude"
    (markerClick)="onMarkerClick()"
  ></agm-marker>
  </agm-map>  

  

  
</ion-content>
