<ion-header>
  <ion-toolbar>
  <ion-title>Modifier Plat </ion-title>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/plat"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formGroup" (submit)="modifierPlat()" *ngIf="plat">
    <ion-list>
      <ion-item>
        <ion-label>Nom</ion-label>
        <ion-input type="text" formControlName="nom"></ion-input>
        <ion-text color="danger" *ngIf="formGroup.controls.nom.errors && formGroup.controls.nom.errors.required">Obligatoire</ion-text>
        <ion-text color="danger" *ngIf="formGroup.controls.nom.errors && formGroup.controls.nom.errors.minlength">Minimum 2 caratères</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Prix</ion-label>
        <ion-input type="number" formControlName="prix"></ion-input>
        <ion-text color="danger" *ngIf="prixControl.hasError('required')">Ce champ est obligatoire</ion-text>

      </ion-item>

      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea type="text" [(ngModel)]="plat.description" formControlName="description"></ion-textarea>
      </ion-item>

      <ion-button color="success" expand="block" shape="round" type="submit"> Update </ion-button>
    </ion-list>

  </form>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="medium">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button> 
    <ion-fab-list side="top">
      <ion-fab-button color="dark" routerLink="/tabs/plat/ajouter-plat"><ion-icon name="add"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button color="dark" routerLink="/tabs/plat/ajouter-plat"><ion-icon name="create"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
